* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, helvetica, sans-serif;
}

a:visited {
  color: white;
}

.navigation {
  background-color: rgba(19, 19, 19, 0.893);
  height: 80px;
  box-shadow: 1px 1px 3px 1px rgba(28, 28, 28, 0.92);
  padding: 1px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  /* removes bullets from ul */
  margin-top: 30px;
}

.navbar li {
  text-decoration: none;
}

.navbar a {
  padding: 25px 4vw;
  text-decoration: none;
  color: white;
  font-family: Roboto, helvetica;
  font-weight: 600;
}

.navbar li:hover a {
  color: rgba(252, 53, 53, 0.838);
}

h1 {
  font-family: Roboto, helvetica;
  font-weight: 900;
  text-align: center;
  font-size: 3rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  gap: 10vw;
}

@media screen and (min-width: 300px) {
  h1 {
    font-size: 3rem;
  }

  .skills-icon {
    width: 18%;
  }

  .container {
    gap: 15vw;
  }
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  .skills-icon {
    width: 15%;
  }

  .container {
    gap: 10vw;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }

  .skills-icon {
    width: 128px;
  }

  .container {
    gap: 8vw;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  .skills-icon {
    width: 11%;
  }

  .container {
    gap: 7vw;
  }
}
::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.slidePics {
  display: none;
  width: 100%;
  height: auto;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.cursor {
  cursor: pointer;
}

.carousel-image {
  vertical-align: middle;
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 2%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: #949494;
}

.previous {
  left: 0;
  margin-left: 5%;
  border-radius: 5px;
}

.next {
  right: 0;
  margin-right: 5%;
  border-radius: 5px;
}

.previous:hover, .next:hover {
  background-color: rgba(252, 53, 53, 0.838);
}

.container-image-caption {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(33, 33, 33, 0.598);
  padding: 20px;
  color: white;
  bottom: 20%;
}

.thumbnail-container {
  content: "";
  display: flex;
  flex-wrap: none;
  justify-content: center;
  width: 100%;
}

.thumbnail {
  opacity: 0.6;
  margin: 20px 1vw;
  width: 100%;
  cursor: pointer;
}

.thumbnail-box {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.active, .thumbnail:hover {
  opacity: 1;
  border: 1px solid white;
  transform: scale(1.02);
  transition: transform 0.25s ease-in-out;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
iframe {
  width: 100%;
  height: auto;
}

.contact {
  background-color: rgba(19, 19, 19, 0.893);
}

.contact .container {
  display: inline-block;
  width: 100%;
  border: 1px solid yellow;
}

.contact h2 {
  color: white;
}

.contact h3 {
  color: white;
}

#client-project {
  color: red;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  gap: 20px;
  width: 50%;
}

input {
  background-color: #d7d7d7;
  border: 1px solid white;
}

textarea {
  background-color: #d7d7d7;
  padding-top: 10px;
  resize: vertical;
  /* disables horizontal resizing of textarea */
  min-height: 150px;
  /* sets smallest text-area height */
  max-height: 450px;
  /* sets largest text-area height */
}

#name, #email, #message {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 1rem;
  font-weight: 600;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 600;
}

input::placeholder, textarea::placeholder {
  font-size: 1rem;
  font-weight: 600;
}

input:focus {
  background-color: white;
  border: 1px solid rgba(252, 53, 53, 0.838);
  box-shadow: 0px 0px 5px #f55656;
}

input:hover, textarea:hover {
  background-color: white;
  border: 1px solid rgba(252, 53, 53, 0.838);
  box-shadow: 0px 0px 5px #f55656;
}

.form-row4 {
  display: flex;
  flex-wrap: wrap;
}
.form-row4 .recaptcha {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-bottom: 5px;
  padding-left: 15px;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.906);
  border: 1px solid black;
}
.form-row4 .recaptcha #recaptcha-text {
  padding: 0 50px 0 10px;
  font-size: 1.3rem;
}
.form-row4 .recaptcha #recaptcha-icon {
  height: 64px;
  width: 64px;
  justify-self: flex-end;
}
.form-row4 .recaptcha #bot-checkbox {
  transform: scale(1.5);
}
.form-row4 .recaptcha #bot-checkbox:hover {
  box-shadow: 0 0 7px red;
}
.form-row4 .math-container {
  width: 40%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 0px;
  background-color: rgba(255, 255, 255, 0.906);
  border: 1px solid black;
}
.form-row4 .math-container img {
  width: 60%;
}
.form-row4 .math-container #math-text {
  font-weight: 600;
  font-size: 1.3rem;
}
.form-row4 .math-container #mathcheck {
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
}
.form-row4 .math-container #mathcheck::-moz-placeholder {
  font-weight: 400;
}
.form-row4 .math-container #mathcheck:-ms-input-placeholder {
  font-weight: 400;
}
.form-row4 .math-container #mathcheck::placeholder {
  font-weight: 400;
}
.form-row4 .math-container #mathcheck:hover {
  box-shadow: 0px 0px 7px red;
  border: 1px solid red;
}

.form-row5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-row5 #submit-button {
  color: white;
  background-color: rgba(58, 163, 255, 0.762);
  padding: 10px 40px;
  font-size: 1.3rem;
  font-weight: 800;
}
.form-row5 #submit-button:hover {
  background-color: red;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}/*# sourceMappingURL=main.css.map */