.carousel-container {
    position: relative;
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // z-index: -10;
}

.overflow-container {
    @include flex;
    overflow: hidden;
}

.slidePics {
    display: none;                      // Hides the images by default
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    animation: fade 1.5s linear, autozoom 5s linear;
    transform: scale(1.2);
}

.button-container {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    left: 0;                    // Keeps the container on the left of the page (it was having blow-out issues for some reason)
    top: 28vw;                  // Sets the < > buttons in the middle of the photo based on the screen width so it's fully responsive)
}

// Adds a hand pointer when mouse hovers over the thumbnail and < > buttons 
.cursor {
    cursor: pointer;
}

.carousel-image {
    vertical-align: middle;
    width: 100vw;
}

.previous, .next {
    cursor: pointer;
    width: auto;
    padding: 2%;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    user-select: none;
    cursor: pointer;
    background-color: $gray-transparent;
}

.previous {
    margin-left: 3%;
    border-radius: 5px;
}

.next {
    margin-right: 3%;
    border-radius: 5px;
}

.previous:hover, .next:hover {
    background-color: $red-theme;
}

.caption-thumbnail-container {
    width: 100%;
    height: auto;
    padding-bottom: 1%;
}

.caption-container {
    bottom: 7vw;
    width: 100%;
    text-align: center;
    background-color: $red-transparent;
    padding: 2vw;
    color: white;
}

#image-caption {
    font-size: 2vw;
}

.thumbnail-container {
    content: "";
    display: grid;
    grid-template-rows: repeat(1, minmax(10px, 1fr)); 
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    width: 100vw;
    margin: 1vw auto;
}

.thumbnail {
    opacity: 0.4;
    // margin: 20px 1vw;
    padding: 5px 0;
    width: 100vw;
    cursor: pointer;
}

.thumbnail-box {
    animation: fade 1.5s linear;
}

.active {
    opacity: 1;
    border: 1px solid white;
}

.thumbnail:hover {
    opacity: 1;
    border: 1px solid $red-theme;
    // transform: scale(1.02);
    // transition: transform 0.25s ease-in-out;
}

.details-about-me {
    height: auto;
    width: 80%;
    margin: 0 auto;
    p {
        margin: 20px 0;
        font-size: 12px;
        line-height: 2;
        text-align: justify;
    }
    padding-bottom: 40px;
}



@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes autozoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.2);
    }
}

// @include xsphone {

// }

@include tablet {
    .carousel-container {
        width: $tablet;
        margin: 0 auto;
    }
    .slidePics {
        width: 100vw;
        transform: scale(1.2);
        transition: transform 5s linear;       
    }
    .caption-thumbnail-container {
        padding-bottom: 3%;
        .caption-container {
            padding: 1.5vw;
            #image-caption {
                font-size: 1.5vw !important;
            }
        }
    }

    .button-container {
        top: 21vw;
    }

    .details-about-me {
        width: $tablet;
        p {
            font-size: 15px;
            line-height: 2.5;
        }
    }
}

@include laptop {
    .carousel-container {
        width: $desktop;
        margin: 0 auto;
    }
    .slidePics {
        width: 100vw;
        transform: scale(1.2);
        transition: transform 5s linear;
    }
    .caption-thumbnail-container {
        padding-bottom: 3%;
        .caption-container {
            padding: 1vw;
            #image-caption {
                font-size: 1vw;
            }
        }
    }

    .button-container {
        top: 18vw;
    }

    .details-about-me {
        width: $desktop;
        
        p {
            font-size: 18px;
            line-height: 3;
            padding-bottom: 10px;
        }
    }
}
