.blog {
    min-height: 100vh;

    h1 {
        font-size: $h1-s;
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(10px, 1fr));
        grid-template-rows:  repeat(5, minmax(10px, 1fr));
        grid-auto-flow: row;
        gap: 10px;
        @include laptop {
            grid-template-columns: repeat(2, minmax(10px, 1fr));
            grid-template-rows:  repeat(3, minmax(10px, 1fr));
            gap: 15px;
        }
    }

// ***************************************
// This is both a text and graphical component. Each card is composed of a row/div
// for date publish, a pictextbox which is a container that is comprisesd of two components
// 1) a picturebox container which is made up of an image and the title. This is displayed 
// as a column, so picture is always on top, and title is below it.
// 2) a blogtext container which contains the placeholder text preview for the blog.
// Depending on the display size, the grid layout changes. Phones and iPad being single column,
// and larger display have a 2 grid column structure. 
// ***************************************


    .card {
        @include flex;
        flex-direction: column;
        border-radius: 4px;
        
        background: rgba(0, 0, 0, 0.194);
    }

    .published {
        padding: 10px;
        text-align: right;
    }
    .pictextbox {
        @include flex;
        flex-direction: row;
        padding-bottom: 15px;

        .picturebox {
            @include flex;
            flex-direction: row;
            cursor: pointer;
            // img {
            //     max-height: 100%;
            // }

            .blogtitle {
                font-size: 18px;
                padding: 15px;

                &:hover {
                    color: $red-theme;
                }
            }

            @include tablet {
                width: 50%;
            }
        }
        
        .blogtext {
            font-family: 'raleway', Arial, Helvetica, sans-serif;
            padding: 0 15px;
            text-align: justify;

            @include tablet {
                width: 50%;
            }
        }
    }
}