.contact {

// ***************************************
// This is both a text and graphical component. The background photo is layered with
// a transparent black overlay, in addition to a backdrop filter blur of 1px to just
// give it the slightest blur whilst still have the clarity for the viewer to see the
// details of the image and enabling the white title text to have contrast and be clear
// and readable.
// ***************************************    
    .banner {
        .backgroundoverlay {
            // the transparent black overlay helps make the text pop out and more readable.
            background-color: rgba(0, 0, 0, 0.262); 
            margin-top: 40px;               // gap between top and menu bar
            @include flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            @include tablet {
                margin-top: 60px;
            }
            
            .bannertext {
                @include flex;
                flex-direction: column;
                align-items: center;
                position: absolute;             // positions itself at the top, relative the its parent container.
                bottom: 4%;
                
                @include tablet {
                    bottom: 20%;
                }
                h1 {
                    color: $white-theme;
                    font-size: $banner-s;
                    @include xsphone {
                        font-size: $banner-xs;
                    }
                    @include tablet {
                        font-size: $banner-m;
                    }
                    @include laptop {
                        font-size: $banner-l;
                    }
                    @include desktop {
                        font-size: $banner-xl;

                    }
                }
            }
            
            #workingtogether {
                z-index: -1;
                filter: blur(1px);      // the blur, helps the viewer's eyes focused on the text
                                        // while they can still see the details of the image behind.
            }
        }
    }
    
    .container {
        background: $bgcolor1;
        // background: rgba(0, 0, 0, 0.591);
        z-index: -1;
        display: inline-block;
        width: 100%;
        min-height: 100vh;
        padding-bottom: 5vh;
        
        h1 {
            color: $white-theme;
            font-size: $h1-s;
            padding: 0;
        }
        

        h2 {
            color: $white-theme;
            text-align: center;
            font-size: ($h1-s * 0.5);
            padding: 15px 0px;
        }
        
    }
    .instructions {
        margin: 5px auto;   // centers the container
        width: 90%;

        h4 {
            color: $white-theme;
            text-align: left;
            line-height: 1.7;
            font-size: 0.8rem;
            font-weight: 400;
    
            @include laptop {
                font-size: 1rem;
            }
            @include desktop {
                font-size: 1.1rem;
            }
        }
    }

}

.desktop-wrapper {
    display: block;

    @include desktop {
        display: flex;
    }
}

.wrapper {
    width: 95%;
    margin: 2px 3%;
    position: relative;
    // necessary to give position: relative to parent for text.
} 


.left-side-box {
    width: 100%;

    @include desktop {
        width: 50%;
    }
}

.right-side-box {
    width: 100%;

    h3 {
        color: $white-theme;
    }
    @include desktop {
        width: 50%;
        @include flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

#client-project {
    color: red;
}

.contact-form {
    @include flex;
    flex-direction: column;
    padding: 20px 2vw;
    gap: 20px;
    width: 100%;
    z-index: 5;
}

input {
    background-color: $form-color;
    border: 1px solid white;
    min-height: 50px;
    border-radius: 3px;
    z-index: 3;
}

textarea {
    background-color: $form-color;
    padding-top: 10px;
    min-height: 200px;
    border-radius: 3px;
    vertical-align: top;    // fixes the extra bottom gap shown by chrome for textareas.
    resize: none;           // disables resizing of textarea, can still type extra, but need to scroll/swipe
}

#name,
#email,
#message {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: $white-theme;
}

/* styling for the text field */
.box {
    border: 1px solid #ccc;
    transition: 0.4s;         /* how fast it goes back to default color */
    background-color: rgba(255, 255, 255, 0.112);
}
  
/*  Top and bottom border */
.box ~ .border:before,
.box ~ .border:after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 0;
height: 2px;
background-color: $accent;
transition: 0.55s;
}

/* Bottom + right border */
.box ~ .border:after {
top: auto;
bottom: 0;
left: auto;
right: 0;
}

/* Side borders */
.box ~ .border i:before,
.box ~ .border i:after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 0;
background-color: $accent;
transition: 0.55s;
}

/* Right border */
.box ~ .border i:after {            // ~ denotes a general sibling combinator, matches elements that are  
left: auto;                         // that match .border and are siblings (same parent) of .box and appear after it
right: 0;
top: auto;
bottom: 0;
}

/*  top and bottom border animation */
.box:focus ~ .border:before,
.box:focus ~ .border:after,
.selected.box ~ .border:before,
.selected.box ~ .border:after {
width: 100%;
transition: 0.55s;
}

/* side border animation */
.box:focus ~ .border i:before,
.box:focus ~ .border i:after,
.selected.box ~ .border i:before,
.selected.box ~ .border i:after {
height: 100%;
transition: 0.55s;
}

.box ~ label {
position: absolute;            // Sets it so it can move outside the box 
left: 14px;                    // Absolute places it on the right outside of the textbox, this places it inside on the left
top: 15px;                     // Positions it in the center vertically 
color: #aaa;                 // Sets color of placeholder text 
transition: 0.9s;              // Time it takes to go back into the box 
font-size: $form-s;            // Placeholder text size
z-index: 0;                    

// Hides the placeholder text label if there's text content. This should be -1, 
// but can't seem to get background not to go over the placeholder/label text
}

.box:focus ~ label,
.selected.box ~ label {
top: -18px;                    // This moves text to be outside on top of the textbox
left: 0;                       // Positions it to the left
font-size: 16px;               
font-weight: 800;
transition: 0.7s;
color: $accent;      
}

.box:hover ~ label {
    color: $accent;
}

// input::placeholder,
// textarea::placeholder {
//     font-size: 1rem;
//     font-weight: 600;
// }

input:focus, textarea:focus {
    background-color: rgba(255, 255, 255, 0.20);
    // border: 1px solid $red-theme;
    // box-shadow: 0px 0px 5px rgb(245, 86, 86);
    outline: none;
}

input:hover,
textarea:hover {
    background-color: rgba(255, 255, 255, 0.20);
    // border: 2px solid $red-theme;
    // box-shadow: 0px 0px 5px rgb(245, 86, 86);
}

.form-row4 {
    @include flex;
    .recaptcha {
        @include flex;
        width: 60%;
        padding-bottom: 5px;
        padding-left: 15px;
        align-items: flex-end;
        background-color: rgba(255, 255, 255, 0.906);
        border: 1px solid black;
        
        .check {
            @include flex;
            gap: 7px;
        }
        #recaptcha-text {
            padding: 0 50px 0px 10px;
            font-size: 1.6rem;
            line-height: 2;
        }
        
        #recaptcha-icon {
            height: 64px;
            width: 64px;
            justify-self: flex-end;
        }
        
        #bot-checkbox {
            transform: scale(1.5);
            width: 25px;
            height: 20px;
        }
        
        #bot-checkbox:hover {
            box-shadow: 0 0 7px red;
        }
        display: none;  
        // reason why I am hiding this feature is because Formspree actually has a reCAPTCHA validation after 
        // user presses submit, where they need to select photos which contains "specified object" 
    }
    
    .math-container {
        @include flex;
        width: 50%;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1px auto;
        padding: 5px 0px 5px 10px;
        background-color: rgba(255, 255, 255, 0.906);
        border: 1px solid black;
        
        @include desktop {
            width: 40%;
        }

        .calculation {
            width: 150px;
        }
        
        .mathwrapper {
            width: 100%;
        }
        
        #math-text {
            font-weight: 600;
            font-size: 1.3rem;
        }

        #mathcheck {
            font-weight: 800;
            font-size: 1.3rem;
            text-align: center;
        }

        #mathcheck::placeholder {
            font-weight: 400;
        }

        #mathcheck:hover {
            box-shadow: 0px 0px 7px red;
            border: 1px solid red;
        }
    }

    display: none;          // hidden, only shows in Desktop view, as most likely won't have bots spamming with on a phone.
}

.form-row5 {
    @include flex;
    justify-content: center;

    #submit-button {
        color: white;
        background-color: rgba(58, 163, 255, 0.762);
        padding: 8px 25px;
        font-size: 1.3rem;
        font-weight: 800;
        border-radius: 3px;
        border: none;
    }

    #submit-button:hover {
        background-color: red;
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
        cursor: pointer;
    }
}

.social {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 2vh;

}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 3vw;

    a:hover {
        transform: scale(1.3);
        transition: transform 0.3s linear; 
    }
}

#github {
    width: 32px;
}

.telephone {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3vh;
    justify-content: center;
    .call-area {
        @include flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        #call-button {
            border-radius: 100%;
            box-shadow: 0 0 3px white;
        }

        &:hover #call-button {
            border-radius: 100%;
            box-shadow: 0 0 10px white;
            animation: rumble .0625s infinite linear;
        }
        &:hover h3 {
            color: #82d63b;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.934);
        }
    }
}

@keyframes rumble {
    0% {
        transform: rotate(0deg) scale(1.3);
    }

    25% {
        transform: translate(2px, 0px) rotate(-3deg) scale(1.3);
    }

    50% {
        transform: translate(0px, -2px) rotate(0deg) scale(1.3);
    }

    75% {
        transform: translate(-2px, 0px) rotate(3deg) scale(1.3);
    }

    100% {
        transform: translate(0px, 2px) rotate(0deg) scale(1.3);
    }
}


@include xsphone {
    .wrapper {
    margin: 1px 2%;
    }
    .box ~ label {
        font-size: $form-xs;
    }
}

@include tablet {
    .box ~ label {
        font-size: $form-m;
    }
    #name,
    #email,
    #message {
        padding-left: 15px;
        font-size: $form-m;
        font-weight: 500;
    }
}


@include desktop {
    .wrapper {
        margin: 8px 3%;
    }
    .box ~ label {
        font-size: 20px;
    }
    textarea {
        resize: vertical;                   // disables horizontal resizing of textarea
        min-height: 150px;                  // sets smallest text-area height
        max-height: 450px;                  // sets largest text-area height
    }
    #name,
    #email,
    #message {
        padding-left: 15px;
        font-size: $form-l;
        // font-weight: 500;
    }

    .form-row4 {
        display: flex;
        // display: none;
    }
}