

header {
     z-index: 10;
}

h1 {
    margin-top: 5vh;
    padding-bottom: 2vh;

    @include laptop {
        margin-top: 8vh;
        padding-bottom: 3vh;
    }
    @include desktop {
        margin-top: 8vh;
        padding-bottom: 4vh;
    }
}

.copyright {
    height: 20px;
    width: 100%;
    padding: 1.5vh 5vw 3vh;
    background-color: black;

    p {
        color: $white-theme;
        font-size: 0.6rem;
    }
}

.homepage {

    .container {
        // border: 20px solid red;
        width: 100%;
        margin-top: 40px;
        @include tablet {
            margin-top: 60px;
        }
        padding: 47vh 30vw;
        @include flex;
        @include center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.982);
        color: white;
        font-weight: 900;
        font-size: 10vw;

        b {
            color: red;
        }
        .blue {
            color: rgb(5, 159, 255);
        }
        .orange {
            color: rgb(255, 117, 11);
        }
        .vision {
            @include flex;
            @include center;
            // border: 4px solid orange;
            padding: 10px 2vw;
            position: absolute;
            text-align: center;
            opacity: 0;                             // Hides all the text, so it'll only show when keyframe opacity is 1
            transform: scale(1);                    // Sets it so it starts at standard width, don't want to leave anything to chance
            animation: showtime 35s linear infinite;         // Animation settings
        }

    // The $animation-length variable has been defined in variables, for each part, I just multiply the animation delay 
    // starting from 0 increasing by 1 for each part up to * 9.
    // with the sizing, I've preset sizes based on vw, they're generally 12vw - 16vw.
    // simply just multiplied the variable sizes to make them bigger by a specific amount for each part.

        #part1 {
            animation-delay: ($animation-length * 0);
            p {
                font-size: ($landing-s * 4);
                
                @include xsphone {
                    font-size: ($landing-xs * 4);
                }
                @include tablet {
                    font-size: ($landing-m * 3.5);
                }
                @include laptop {
                    font-size: ($landing-l * 3);
                }
                @include desktop {
                    font-size: 40rem;
                }
            }
        }
        #part2 {
            animation-delay: ($animation-length * 1);
            p {
                font-size: ($landing-s * 2);
                
                @include xsphone {
                    font-size: ($landing-xs * 2.5);
                }
                @include tablet {
                    font-size: ($landing-m * 1.8);
                }
                @include laptop {
                    font-size: ($landing-l * 1.5);
                }
                
                @include desktop {
                    font-size: 15rem;
                }
            }
        }
        #part3 {       
            animation-delay: ($animation-length * 2);
            #stack {
                width: 20%;
                margin-right: 5vw;   
                padding: 20vw 0;
                
                @include laptop {
                    padding: 8vw 0;
                }
                @include desktop {
                    width: 20%; 
                    padding: 10vw 0;
                }
            }
            .stack-box {
                @include flex;
                @include center;
                flex-wrap: flex;
            }
            p {
                font-size: ($landing-s * 1);
                
                @include xsphone {
                    font-size: ($landing-xs * 1.1);
                }
                @include tablet {
                    font-size: ($landing-m * 0.9);
                }
                @include laptop {
                    font-size: ($landing-l * 0.9);
                }
                @include desktop {
                    font-size: 10rem;
                }
            }
        }
        #part4 {
            animation-delay: ($animation-length * 3);
            font-size: ($landing-s * 1.7);
            
            @include xsphone {
                font-size: ($landing-xs * 1.8);
            }
            @include tablet {
                font-size: ($landing-m * 1.5);
            }
            @include laptop {
                font-size: ($landing-l * 1);
            }
            @include desktop {
                font-size: 14rem;
            }    
        }
        
        #part5, #part6, #part7, #part8 {
            p {
                font-size: ($landing-s * 1.1);
                
                @include xsphone {
                    font-size: ($landing-xs * 1.2);
                }
                @include tablet {
                    font-size: ($landing-m * 1.1);
                }
                @include laptop {
                    font-size: ($landing-l * 1);
                }
                @include desktop {
                    font-size: 14rem;
                }
            }
        }
        #part5 {
            animation-delay: ($animation-length * 4);
        }
        #part6 {
            animation-delay: ($animation-length * 5);
        }
        #part7 {
            animation-delay: ($animation-length * 6);
        }
        #part8 {
            animation-delay: ($animation-length * 7);
        }
        #part9 {
            animation-delay: ($animation-length * 8);
            p {
                font-size: ($landing-s * 4);
                
                @include xsphone {
                    font-size: ($landing-xs * 4);
                }
                @include tablet {
                    font-size: ($landing-m * 4);
                }
                @include laptop {
                    font-size: ($landing-l * 4);
                }
                @include desktop {
                    font-size: 40rem;
                }
            }
        }
                
        #part10 {
            animation-delay: ($animation-length * 9);
            padding: 10vh 5vw;
            
            p {
                z-index: 3;
                text-shadow: 0px 0px 120px rgb(255, 176, 57);
                
                font-size: ($landing-s * 1);
        
                @include xsphone {
                    font-size: ($landing-xs * 1.1);
                }
                @include tablet {
                    font-size: ($landing-m * 0.9);
                }
                @include laptop {
                    font-size: ($landing-l * 0.9);
                }
                @include desktop {
                    font-size: 12vw;
                }
            }
        }

        #radiance {
            position: absolute;
            min-width: 100vw;
            max-height: 95%;
            height: auto;
            opacity: 0;
            filter: blur(2px);
            animation: showme 3.5s linear ($animation-length * 9);
        
        }

    }
}
@keyframes showme {
    0% {
        opacity: 0;
    }
    10% {
        transform: scale(1);
        opacity: 1;
    }
    98% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1.05);
        opacity: 1;
    }
}

// Since there are 10 parts, and each part plays for 3.5seconds (1 interval) 
// I've divided the entire animation time into 10, and set animation-delay for each interval accordingly
// i.e. part 1: 0s delay, part 2: 3.5s delay, part 3: 7s delay and so forth.
// Such that the next part will only start once the current part's 3.5s showtime has lapsed.
// So the time for each part is only lasts for 10%, 1% is equivalent to 350ms
// Starts at opacity: 0; so it takes 0.7s to fade in, likewise with fading out
// Once a part appears, it is constantly zooming out. 1.1 was a gentle and smooth number for duration.
// Then for the remainder of the animation, each part is hidden. 


// Ideally, I should have put

//   Creativity 
//      Meets
//   Practicality

// in the same #part, but don't have time to go back and change everything and do all the keyframes and again.

@keyframes showtime {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    2% {
        opacity: 1;
        transform: scale(1);
    }
    8% {
        opacity: 1;
    }
    10% {  
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}



