













.youtube {
    @include flex;
    justify-content: center;
    gap: 5vw;
}



.soundcloud {
    h3 {
        padding: 40px 0 0 2vw;
    }

    iframe {
    height: 20vw;
    margin: 3vw 0;
        
        &:hover {
            @include bred;
            
        }
    }


}