.portfolio {
    h1 {
        font-size: $h1-xs;
    }

    .container {
        width: 100%;
        height: auto;
        @include flex;
            .grid {
                @include grid;
                $x: 8;
                $y: 2;
                grid-template-rows: repeat($x, minmax(10px, auto));
                grid-template-columns: repeat($y, minmax(10px, 1fr));
                gap: px;                
                .cell {
                                       
                    img {
                        // border: 1px solid rgba(103, 103, 103, 0.831);
                    }
                    
                }
            }
    
    }
}




.youtube {
    @include flex;
    justify-content: center;
    gap: 5vw;
    width: 100%;
}

.soundcloud {
    h3 {
        padding: 40px 0 0 2vw;
    }

    iframe {
    height: 20vw;
    margin: 3vw 0;
        
        // &:hover {
        //     @include bred;
            
        // }
    }
}

@media screen and (min-width: 350px) {
    .portfolio {
        h1 {
            font-size: $h1-s;
        }
    }
}

@media screen and (min-width: 700px) {
    .portfolio {
        h1 {
            font-size: $h1-m;
        }
    }
}

@media screen and (min-width: 1000px) {
    .portfolio {
        h1 {
            font-size: $h1-l;
        }
    }
}
