
.portfolio-body{
    @include laptop {
        background-image: url(../../photos/backgrounds/Portfolio_1024.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       // background will stay fixed regardless of scrolling
    }
}
.portfolio {
    h1 {
        font-size: $h1-s;
    }
    
    @include laptop {
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.25);
        
        h1 {
            color: $white-theme;
            font-size: $h1-l;
        }    
    }

    .container {
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: right;
        @include flex;
        justify-content: center;
        display: inline-block;
        padding-bottom: 5vw;


        .grid {
            @include grid;
            $y:1;
            
            $x: (8/$y);
            grid-template-rows: repeat($x, minmax(10px, auto));
            grid-template-columns: repeat($y, minmax(10px, 1fr));
            grid-auto-rows: minmax(10px, auto);
            gap: 5px;
            
            .cell {
                position: relative;
                // width: 1000px;
                border: 1px solid black;
            }
            
            .site {
                display: block;
                width: 100%;
            }
            
            .overlay {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // This was slightly too overpowering and not easy on the eyes, decided to go back to transparent black 
                // background: $overlay-red;           
                background: rgba(0, 0, 0, 0.55);
                    // Transparent black looked more elegant, red was just a tad too overpowering for this context
                color: white;
                opacity: 0;
                transition: opacity 0.55s;
                backdrop-filter: blur(4px);
            }
            
             .overlay:hover { 
                opacity: 1;
            }
            
            
            .overlay-title {
                font-size: 1rem;
                // @include xsphone {
                // }
                // font-weight: bold;
            }
            
            .preview {
                border: none;           // removes hideous default border around button
                font-size: 1rem;
                border-radius: 8px;
                padding: 1.5% 5%;
                position: absolute;
                bottom: 8%;
                background: rgb(37, 171, 255);    
                // background: white;

                &:hover {
                    color: white;
                    background: red;
                    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.68);
                    cursor: pointer;
                }

                @include tablet {
                    font-size: 1.5rem;
                    border-radius: 10px;
                    padding: 2% 6%;
                }
            }
        }
    }
}


.togglecontainer {
    padding: 20px;
    @include flex;
    gap: 10px;
    justify-content: flex-end;
    img {
        cursor: pointer;
    }

    @include xsphone {
        display: none;
    }
    @include tablet {
        display: none;
    }       
}

.media {
    @include flex;
    padding: 20px 0 50px 0;

    @include laptop {
        color: $white-theme;
    }

    .youtube {
        @include flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding-top: 40px;
        
        @include laptop {
            width: 50%;        
        }

        .youtube-box {
            width: 100%;
            height: auto;
            margin-bottom: 50px;
            @include flex;
            flex-direction: column;
            align-items: center;
            h4 {
                padding: 5px;
            }

            @include laptop {
                width: 100%;
                height: auto;
                h4 {
                    width: 100%;
                    font-size: 1rem;
                    padding: 10px 10px 20px 10px;
                }
            }
            @include desktop {
                width: 75%;
                height: auto;
            }
        }
    }

    .soundcloud {
        @include flex;
        flex-direction: column;
        width: 100%;
        padding: 0 2vw;

        @include laptop {
            width: 50%;
        }

        h3 {

            padding-bottom: 20px;
            text-align: center;
        }

        .soundcloud-box {
            width: 100%;
            iframe{
                height: 150px;
            }
        }
        h4 {
            padding: 15px 0 50px 10px;
        }    
    }
}


@include xsphone {
    .portfolio {
        h1 {
            font-size: $h1-xs;
        }
        .container {
            .grid {
                grid-template-rows: repeat(8, 1fr);
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@include tablet {
    .portfolio {
        h1 {
            font-size: $h1-m;
        }
        .container {
            .grid {
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@include laptop {
    .portfolio {
        h1 {
            font-size: $h1-l;
        }
        .container {
            .grid {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
    #box1 {
        order: 1;

    }
}

@include desktop {
    .portfolio {
        h1 {
            font-size: $h1-l;
        }
    }
    #box1 {
        order: 1;

    }
}
