*, *:before, *:after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $font, sans-serif;
    max-width: 100% !important;
    overflow-x: none;
}

// hides scrollbar
::-webkit-scrollbar {
    display: none;
}

a:visited {
    color: blue;
}

main {
    min-height: 100vh;
}

// Removes the white space underneath images as it's default is inline and 
// browser adds some whitespace under the baseline to level/adjust other inline elements to same height
img {
    display: block;         
}
