* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $font, sans-serif;
    max-width: 100% !important;
    // height: auto !important;
}

a:visited {
    color: blue;
}

main {
    min-height: 100vh;
}
