.skills {
    min-height: 100vh;
    padding-bottom: 40px;
    h1 {
     font-size: 3rem;
    }
}

.skills-icon {
    width: 18%;
}

.container {
    @include flex;
    justify-content: center;
    align-items: center;
    padding: $pad-all;
    gap: 15vw;
}

@include xsphone {
    .skills {
        h1 {
            font-size: 2rem;
        }
    }
    .container {
        gap: 10vw;
    }
}

@include tablet {
    h1 {
        font-size: 4rem;
    }
    .skills-icon {
        width: 4rem;
    }
    .container {
        gap: 10vw;
    }
}

@include laptop {
    h1 {
        font-size: 5rem;
    }
    .skills-icon {
        width: 5rem;
    }
    .container {
        gap: 8vw;
    }
}

@include desktop {
    h1 {
        font-size: 5rem;
    }
    .skills-icon {
        width: 5rem;
        margin: 3vh 2vw;
    }
    .container {
        gap: 0;
        width: 60%;
        margin: 0 auto;
    }
}






.certificates {
    @include flex;
    width: 100%;
    margin: 30px 0;
    @include bred;
    justify-content: space-evenly;
    .overlay {
        img {
            border: 1px solid black;
            width: 100%;
            height: auto;
        }
    
        @include tablet {
            width: 30%;
            img {
                width: 100%;
            }
        }
    }
}




