


.testimonials {
    background: linear-gradient(130deg, #07d9a3, #048fee);
    background-size: 400% 400%;
  
    -webkit-animation: gradient 16s ease infinite;
    -moz-animation: gradient 16s ease infinite;
    animation: gradient 16s ease infinite;
  
  
  .container {
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
  }
  
  .slick-slider {
    margin: 30px auto 50px;
  }
  
  .slick-prev,
  .slick-next {
    color: white;
    opacity: 1;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    
    path {
      fill: rgba(255,255,255, 0.4);
    }
    
    &:hover {
      path {
        fill: #FFFFFF;
      }
    }
  }
  
  .slick-prev {
    left: -35px;
  }
  
  .slick-next {
    right: -35px;
  }
  
  .slick-prev:before, 
  .slick-next:before {
    content: none;
  }
  
  .slick-dots li button:before {
    color: rgba(255,255,255, 0.4);
    opacity: 1;
    font-size: 8px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #FFFFFF;
  }
  
  .quote-container {
    min-height: 200px;
    color: #666666;
    font-size: 36px;
    margin: 0 20px;
    position: relative;
    
    &:hover {
      cursor: grab;
    }
    
   
  
    
    .quote {
      width: 100%;
      @include bred;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 600;
      padding: 40px 0 40px 180px;
      margin: 0;
      font-size: 20px;
      font-style: italic;
      line-height: 1.4 !important;
      font-family: Calibri;
      color: white;

      .divider-left {
        border: 10px solid blue;
        width: 100%;
        height: 200px;
      }

      .divider-right {
        @include byel;
        display: block;
      }

      .portrait {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        // border: 3px solid rgba(48, 48, 48, 0.714);
        box-shadow: 0 0 10px 5px rgba(48, 48, 48, 0.653);
        height: 20vw;
        width: 20vw;
        overflow: hidden;
        border-radius: 100%;
      }
      
      .quotation-marks {
        width: 12%;
        opacity: 0.55;
      }
      p {
        position: relative;
        margin-bottom: 20px;
        
        &:first-child:before {
          content: '\201C';
          color: rgba(255, 255, 255, 0.44);
          font-size: 7.5em;
          font-weight: 700;
          opacity: 1;
          position: absolute;
          top: -.4em;
          left: -.2em;    
          text-shadow: none;
          z-index: -10;
        }
      }
      
      cite {
        display: block;
        font-size: 14px;
        
        span {
          font-size: 16px;
          font-style: normal;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }  
  
    .dragging .quote-container {
      cursor: grabbing;
    }  
  }
} 
@keyframes gradient { 
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
