
// main {
//   border: 2px solid red;
//   padding: 0;
// }

.testimonials {
    background: linear-gradient(130deg, #07d9a3, #048fee);
    background-size: 400% 400%;
    animation: gradient 16s ease infinite;
    width: 100%;
  
  .container {
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1024px;
    min-width: 280px;

  }
  
  .slider {

    @include flex;
    flex-direction: row;

    .quote-container {
      min-height: 200px;
      color: #666666;
      font-size: 36px;
      margin: 0 20px;
      position: relative;
      width: 100%;
      padding: 2vw 0;
      
      &:hover {
        cursor: grab;
      }
      
      .quote {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        z-index: 5;


// padding: 40px 0 40px 180px;


        blockquote {
          display: flex;
          justify-content: center;
          padding: 25px 0 0;
          
          p {
            position: relative;
            margin-bottom: 20px;
            font-size: 1.5rem;
            font-style: italic;
            line-height: 1.4;
            font-family: Calibri;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.988);  // very slight opacity decrease makes it easier on the eyes than 100%
            padding: 0 1.5rem;   
            
            // Left quotation mark
            &:first-child:before {
              content: '\201C';     // unicode for left quotation mark
              position: absolute;
              color: rgba(255, 255, 255, 0.44); // transparent so will change colour with background
              font-size: 20rem;
              font-weight: 700;
              opacity: 1;
              top: -8rem;
              left: -4rem;    
              z-index: -11;             // places it behind the testimonial text
              // font-family: ;
            }

            // Right quotation mark
            &:first-child:after {
              content: '\201D';     // unicode for right quotation mark
              position: absolute;
              color: rgba(255, 255, 255, 0.44); // transparent so will change colour with background
              font-size: 20rem;
              font-weight: 700;
              opacity: 1;
              top: -5rem;
              right: 3rem;    
              z-index: -10;
            }
          }
        }
        .divider-left {
          width: 30%;
          height: auto;
          @include flex;
          justify-content: center;
        
          .portrait {
            // position: absolute;
            border: 3px solid rgb(254, 168, 115);
            box-shadow: 1px 1px 9px 3px rgba(48, 48, 48, 0.653);
            height: 20vw;
            width: 20vw;
            overflow: hidden;
            border-radius: 100%;
          }
        }

        .divider-right {
          display: flex;
          flex-direction: column;
          width: 70%;
          justify-content: center;
        
          .quotation-marks {
            width: 8%;
            opacity: 0.3;
            position: absolute;
            top: 40px;
            right: 40px;
            display: none;
          }

          
        }
        
        cite {
          display: block;
          font-size: 14px;
          
          span {
            font-size: 16px;
            font-style: normal;
            letter-spacing: 1px;
            
          }
        }
      }  
      .person {
        // text-transform: uppercase;
        font-style: normal;
        color: rgba(87, 87, 87, 0.749);
        font-size: 2rem;
        // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.619);
        
      }
      .role {
        color: rgba(108, 107, 107, 0.749);
        // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.619);
      }


      .dragging .quote-container {
        cursor: grabbing;
      }  
    }
  }
} 
@keyframes gradient { 
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
