

.testimonials {
  background: linear-gradient(130deg, #07d9a3, #048fee);
  background-size: 400% 400%;
  animation: gradient 16s ease infinite;
  width: 100%;
  
  
  .wrapper {
    background: none;  // to override landing text animation background
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 1920px;
    min-width: 280px;
    min-height: 650px;
    @include flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include xsphone {
      min-height: 650px;
    }
    @include tablet {
      min-height: 550px;
    }
    @include laptop {
      min-height: 500px;
    }
    @include desktop {
      min-height: 550px;
    }
    h1 {
      font-size: 6vw;
      padding: 2vw 20px 40px;
      margin-top: 20px;
      color: white;
  
      @include tablet {
        font-size: 4vw;
      }
    }
  }
  
  .slider {

    @include flex;
    flex-direction: row;
    position: relative;   // sets it so the quote buttons container is relative to this 

    .quote-buttons {
      position: absolute;
      width: 100%;
      top: 150px;       // moving testimonial buttons down 
      @include flex;
      justify-content: space-between;
      z-index: 20;

      @include xsphone {
        top: 300px;
      }
      @include tablet {
        top: 200px;
      }
      @include laptop {

      }
      @include desktop {
        top: 200px;
      }

      .previous, .next {
        background: none;
        font-size: 6vw;
        padding: 10px 20px;
        margin: 2vw;
      }
    }

    .quote-container {
      min-height: 200px;
      color: #666666;
      font-size: 36px;
      padding: 0;
      margin: 0;
      position: relative;
      width: 100%;
      // @include flex;
      // // flex-direction: column;
      // // justify-content: flex-start;

      &:hover {
        cursor: grab;
        
      }
      
      .quote {
        width: 100%; 
        padding: 1px;
        margin: 1px;
        @include flex;
        // justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        flex-direction: column;
        // margin: 0 auto;
        @include desktop {
          flex-direction: row;
        }
        animation: slide 0.9s linear;


        blockquote {
          margin: 0;
          width: 100%;
          
          p {
            width: 100%;
            text-align:center;
            position: relative;           // need to declare this so that the quotation marks are relative to this
            margin-bottom: 20px;
            font-size: $form-s;

            font-style: italic;
            line-height: 1.4;
            font-family: Calibri;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.988);  // very slight opacity decrease makes it easier on the eyes than 100%
            // padding: 0 1.5rem;   
            
            @include xsphone {
              font-size: $form-xs;
            }
            @include tablet {
              font-size: $form-m;
              text-align: justify;
            }


            &:first-child:before, &:first-child:after {
              position: absolute;
              color: rgba(213, 211, 211, 0.44); // transparent so will change colour with background
              font-size: 12rem;
              font-weight: 700;
              line-height: 1;
              opacity: 1;
              z-index: -11;             // places it behind the testimonial text
              
              
              @include xsphone {
                font-size: 10rem;
              }
              @include tablet {
                font-size: 13rem;
              }
              @include laptop {
                font-size: 14rem;
              }
              @include desktop {
                font-size: 15rem;
              }
            }
            // Left quotation mark
            &:first-child:before {
              content: '\201C';         // unicode for left quotation mark
              top: -3vw;                // positions the quotation mark up (from center) to the top of the quotes
              left: -15vw;              // positions the quotation mark to the left of the quotes
              // font-family: ;         // to change the look of the quotation marks, change font-family.

              @include xsphone {
                top: -1vw;
                left: -16vw;
              }
              @include tablet {
                top: -1vw;
                left: -8vw;  
              }
              @include laptop {
                top: -1vw;
                left: -8vw;  
              }
              @include desktop {
                top: -4vw;
                left: -4vw;  
              }
            }

            // Right quotation mark
            &:first-child:after {
              content: '\201D';         // unicode for right quotation mark
              top: -6vw;
              right: -2vw; 

              // top: -5rem;      Seems to not move around as much as vw
              // right: 2rem;


              @include xsphone {
                top: -5vw;
                right: -2vw;
              }
              @include tablet {
                top: -4vw;
                right: -2vw;
              }
              @include laptop {
                top: -4vw;
                right: -2vw;
              }
              @include desktop {
                top: -3vw;
                right: -2vw;
              }
            }
          }
        }
        .divider-left {
          width: 100%;
          height: auto;
          @include flex;
          justify-content: center;
          order: 1;

          @include desktop {
            order: 0;
            width: 20%;
          }
        
          .portrait {
            // position: absolute;
            border: 3px solid rgb(254, 168, 115);
            box-shadow: 1px 1px 9px 3px rgba(48, 48, 48, 0.653);
            
            margin-top: 5vw;
            height: 50vw;
            width: 50vw;
            overflow: hidden;
            border-radius: 100%;

            @include xsphone {
              height: 200px;
              width: 200px;
            }
            @include tablet {
              margin-top: -6vw;           // Shifts photo up, so it's not at the bottom, and closer to the text
              height: 30vw;
              width: 30vw;
            }
            @include laptop {
              height: 25vw;
              width: 25vw;  
              
            }
            @include desktop {
              margin-top: 0vw;    // Sets it so that the photo and testimonials don't ride up into the heading
              transform: translateX(30%);   // Shifts the photo a bit closer to the right, rather than being on the edge
              height: 17vw;
              width: 17vw;
            }
          }
        }

        .divider-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 80%;
          @include desktop {
            width: 80%;
            padding: 0 8vw;
          }
          .quotation-marks {
            width: 8%;
            opacity: 0.3;
            position: absolute;
            top: 40px;
            right: 40px;
            display: none;
          }      
        }

        cite {
          display: block;

          span {
            font-size: 16px;
            font-style: normal;
            line-height: 0.4;

            @include xsphone {
              line-height: 0.2;
              font-size: 16px;
            }
            @include tablet {
            
            }
            @include laptop {
            
            }
            @include desktop {
              
            }
            
          }
        }
      }  
      .person {
        // text-transform: uppercase;
        font-style: normal;
        color: rgba(87, 87, 87, 0.749);
        font-size: 1.4rem;
        // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.619);
        
        @include xsphone {
          font-size: 1.5rem;
        }
        @include tablet {
          font-size: 1.6rem;
        }
      }
      .role {
        color: rgba(108, 107, 107, 0.749);
        // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.619);
      }


      .dragging .quote-container {
        cursor: grabbing;
      }  
    }
  }
} 
@keyframes gradient { 
  0% {
    background-position: 5% 0%
  }
  50% {
    background-position:96% 100%
  }
  100% {
    background-position:5% 0%
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(90%);
  }
  90% {
    transform: translateX(10%);  
  }
  100% {
    transform: translateX(0%);
  }
}