$white-theme: white;
$red-theme: rgba(252, 53, 53, 0.838);

$red-transparent: rgba(255, 30, 30, 0.584);
$gray-transparent: rgba(148, 148, 148, 0.557);

$bgcolor1: rgba(19, 19, 19, 0.893);
$bgcolor2: rgba(252, 39, 39, 0.954);

$trans-time: 2s;
$trans-delay: 1s;
$trans-type: ease-in-out;

$pad-l: 5vw;
$pad-r: 5vw;
$pad-t: 10px;
$pad-b: 30px;
$pad-all: 3vw;
$pad-top-sides: 0 5vw;
$margin-center: 0 auto;

$maxwidth: 100%;
$maxheight: 100%;


$min: 10px;
$x: 4;
$y: 4;

$grid-cols-y: repeat($y, minmax($min, 1fr));
$grid-cols2: repeat(2, minmax($min, 1fr));
$grid-cols3: repeat(3, minmax($min, 1fr));
$grid-cols4: repeat(4, minmax($min, 1fr));


$cell-height: 400px;
$grid-rows: repeat($x, minmax($min, $cell-height));

$opacity1: 0.7;
$opacity2: 1;

$unhide: block;
$hide: none;

$font: Roboto, helvetica;

$form-color: rgb(215, 215, 215);

$h1-xs: 2rem;
$h1-s: 2.5rem;
$h1-m: 3.5rem;
$h1-l: 4.5rem;

$form-xs: 14px;
$form-s: 16px;
$form-m: 18px;
$form-l: 20px;

$phone: 100%;
$tablet: 75%;
$desktop: 70%;